body {
    background-color: #121212;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #000;
    padding: 10px;
    width: 100%;
    text-align: left;
    /* Align text to the left */
}

.banner {
    display: flex;
    justify-content: flex-start;
    /* Align items to the start (left) */
    padding: 10px;
    /* Add padding to the banner */
}

.banner .home-link {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    color: #0f0;
    text-decoration: none;
    margin-right: 20px;
    /* Add margin between the home link and buttons */
    outline: 2px solid #0f0;
    /* Add visible outline */
    padding: 10px 20px;
    /* Add padding to the link */
}

.banner .home-link:hover {
    color: #0a0;
    /* Change the color on hover if desired */
}

.button-container {
    display: flex;
    align-items: center;
}

button {
    outline: 2px solid #0f0;
    /* Add visible outline to buttons */
    padding: 10px 20px;
    /* Add padding to buttons */
    background-color: transparent;
    /* Remove button background */
    border: none;
    /* Remove button border */
    cursor: pointer;
}

#main-content {
    max-width: 800px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    padding: 10px 0;
    text-align: center;
}

footer a img {
    width: 24px;
    height: auto;
}